{:package "app",
 :root {:ns "main", :def "main!"}
 :files {"schema" {:ns ["ns" "app.schema"], :defs {}, :procs []},
         "comp.container" {:ns ["ns"
                                "app.comp.container"
                                [":require"
                                 ["[]" "hsl.core" ":refer" ["[]" "hsl"]]
                                 ["[]" "respo-ui.style" ":as" "ui"]
                                 ["[]" "respo.alias" ":refer" ["[]" "create-comp" "div" "span"]]
                                 ["[]" "respo.comp.space" ":refer" ["[]" "comp-space"]]
                                 ["[]" "respo.comp.text" ":refer" ["[]" "comp-text"]]
                                 ["[]" "respo.comp.debug" ":refer" ["[]" "comp-debug"]]
                                 ["[]" "app.comp.header" ":refer" ["[]" "comp-header"]]
                                 ["[]" "app.comp.home" ":refer" ["[]" "comp-home"]]]],
                           :defs {"comp-container" ["def"
                                                    "comp-container"
                                                    ["create-comp"
                                                     ":container"
                                                     ["fn"
                                                      ["store" "ssr-stages" "options"]
                                                      ["fn"
                                                       ["state" "mutate!"]
                                                       ["let"
                                                        [["router" [":router" "store"]]]
                                                        ["div"
                                                         ["{}" [":style" ["merge" "ui/global"]]]
                                                         ["comp-header"]
                                                         ["comp-home" "options"]]]]]]]},
                           :procs []},
         "main" {:ns ["ns"
                      "app.main"
                      [":require"
                       ["[]" "respo.core" ":refer" ["[]" "render!" "clear-cache!" "falsify-stage!" "render-element"]]
                       ["[]" "app.comp.container" ":refer" ["[]" "comp-container"]]
                       ["[]" "cljs.reader" ":refer" ["[]" "read-string"]]
                       ["[]" "app.schema" ":as" "schema"]
                       ["[]" "|highlight.js" ":as" "hljs"]]],
                 :defs {"dispatch!" ["defn" "dispatch!" ["op" "op-data"] ["println" "|Dispatch!" "op"]],
                        "main!" ["defn"
                                 "main!"
                                 []
                                 ["enable-console-print!"]
                                 ["if"
                                  ["not" ["empty?" "ssr-stages"]]
                                  ["let"
                                   [["target" [".querySelector" "js/document" "|#app"]]]
                                   ["falsify-stage!"
                                    "target"
                                    ["render-element"
                                     ["comp-container" "@store-ref" "ssr-stages" ["{}" [":highlight" "highlight-code"]]]]
                                    "dispatch!"]]]
                                 ["render-app!"]
                                 ["add-watch" "store-ref" ":changes" "render-app!"]
                                 ["println" "|App started!"]],
                        "mode" ["def" "mode" ":history"],
                        "render-app!" ["defn"
                                       "render-app!"
                                       []
                                       ["let"
                                        [["target" [".querySelector" "js/document" "|#app"]]]
                                        ["render!"
                                         ["comp-container"
                                          "@store-ref"
                                          "ssr-stages"
                                          ["{}" [":highlight" "highlight-code"]]]
                                         "target"
                                         "dispatch!"]]],
                        "store-ref" ["defonce" "store-ref" ["atom" ["{}"]]],
                        "highlight-code" ["defn"
                                          "highlight-code"
                                          ["code" "lang"]
                                          ["let"
                                           [["result" [["aget" "hljs" "|highlight"] "lang" "code"]]]
                                           [".-value" "result"]]],
                        "reload!" ["defn"
                                      "reload!"
                                      []
                                      ["clear-cache!"]
                                      ["render-app!"]
                                      ["println" "|Code updated."]],
                        "ssr-stages" ["def"
                                      "ssr-stages"
                                      ["let"
                                       [["ssr-element" [".querySelector" "js/document" "|#ssr-stages"]]
                                        ["ssr-markup" [".getAttribute" "ssr-element" "|content"]]]
                                       ["read-string" "ssr-markup"]]]},
                 :procs [["set!" [".-onload" "js/window"] "main!"]]},
         "comp.home" {:ns ["ns"
                           "app.comp.home"
                           [":require"
                            ["[]" "hsl.core" ":refer" ["[]" "hsl"]]
                            ["[]" "respo-ui.style" ":as" "ui"]
                            ["[]" "respo-ui.style.colors" ":as" "colors"]
                            ["[]"
                             "respo.alias"
                             ":refer"
                             ["[]" "create-comp" "div" "span" "button" "a" "img" "pre" "code"]]
                            ["[]" "respo.comp.space" ":refer" ["[]" "comp-space"]]
                            ["[]" "respo.comp.text" ":refer" ["[]" "comp-text"]]
                            ["[]" "respo.comp.debug" ":refer" ["[]" "comp-debug"]]]],
                      :defs {"style-card" ["def"
                                           "style-card"
                                           ["{}"
                                            [":display" ":inline-block"]
                                            [":vertical-align" ":top"]
                                            [":margin" "16"]]],
                             "render-snippet" ["defn"
                                               "render-snippet"
                                               ["demo-code" "options"]
                                               ["let"
                                                [["highlight-code" [":highlight" "options"]]]
                                                ["pre"
                                                 ["{}" [":attrs" ["{}" [":class-name" "|code-snippet"]]]]
                                                 ["code"
                                                  ["{}"
                                                   [":attrs"
                                                    ["{}" [":innerHTML" ["highlight-code" "demo-code" "|clojure"]]]]]]]]],
                             "style-header" ["def"
                                             "style-header"
                                             ["{}"
                                              [":padding-top" "64"]
                                              [":padding-bottom" "0"]
                                              [":background-color" ":white"]]],
                             "style-suggest" ["def"
                                              "style-suggest"
                                              ["{}" [":padding-top" "48"] [":padding-bottom" "48"]]],
                             "style-footer" ["def" "style-footer" ["{}" [":min-height" "200"] [":padding" "32"]]],
                             "demo-props" ["def" "demo-props" ["{}" [":style" "style-card"]]],
                             "render-demo" ["defn"
                                            "render-demo"
                                            ["text"]
                                            ["div"
                                             ["{}" [":attrs" ["{}" [":inner-text" "text"]]] [":style" "style-demo"]]]],
                             "style-logo" ["def"
                                           "style-logo"
                                           ["{}"
                                            [":width" "160"]
                                            [":height" "160"]
                                            [":background-image" ["str" "|url(http://logo.respo.site/respo.png)"]]
                                            [":background-size" ":cover"]
                                            [":display" ":inline-block"]
                                            [":vertical-align" ":middle"]]],
                             "snippets" ["def" "snippets" ["js/require" "|../snippets/index"]],
                             "style-demo" ["def"
                                           "style-demo"
                                           ["{}"
                                            [":font-size" "16"]
                                            [":font-family" "|Josefin Sans"]
                                            [":text-align" ":center"]
                                            [":line-height" "1.4"]]],
                             "style-snippets" ["def"
                                               "style-snippets"
                                               ["{}"
                                                [":background-color" "colors/paper"]
                                                [":width" "|100%"]
                                                [":display" ":flex"]
                                                [":flex-wrap" ":wrap"]
                                                [":justify-content" ":center"]
                                                [":align-items" ":center"]
                                                [":padding" "64"]]],
                             "style-description" ["def"
                                                  "style-description"
                                                  ["{}"
                                                   [":font-size" "16"]
                                                   [":font-weight" "400"]
                                                   [":color" "colors/texture"]
                                                   [":font-family" "|Hind"]]],
                             "comp-home" ["def"
                                          "comp-home"
                                          ["create-comp"
                                           ":home"
                                           ["fn"
                                            ["options"]
                                            ["fn"
                                             ["state" "mutate!"]
                                             ["div"
                                              ["{}"]
                                              ["div"
                                               ["{}" [":style" ["merge" "ui/column" "ui/center" "style-header"]]]
                                               ["div" ["{}" [":style" "style-logo"]]]]
                                              ["div"
                                               ["{}" [":style" ["merge" "ui/center" "ui/row" "style-suggest"]]]
                                               ["div"
                                                ["{}" [":style" "style-description"]]
                                                ["comp-text" "|Respo: a virtual DOM library in ClojureScript." "nil"]]
                                               ["comp-space" "8" "nil"]
                                               ["a"
                                                ["{}"
                                                 [":attrs"
                                                  ["{}"
                                                   [":href" "|https://github.com/Respo/respo-examples"]
                                                   [":target" "|_blank"]]]]
                                                ["button"
                                                 ["{}"
                                                  [":style" ["merge" "ui/button"]]
                                                  [":attrs" ["{}" [":inner-text" "|Read Examples"]]]]]]
                                               ["comp-space" "8" "nil"]
                                               ["a"
                                                ["{}"
                                                 [":attrs"
                                                  ["{}"
                                                   [":href" "|https://github.com/Respo/respo/wiki/Quick-Start"]
                                                   [":target" "|_blank"]]]]
                                                ["button"
                                                 ["{}"
                                                  [":style" ["merge" "ui/button"]]
                                                  [":attrs" ["{}" [":inner-text" "|Quick Start"]]]]]]]
                                              ["div"
                                               ["{}" [":style" "style-snippets"]]
                                               ["div"
                                                "demo-props"
                                                ["render-demo" "|Component Nesting"]
                                                ["render-snippet" "snippets.component" "options"]]
                                               ["div"
                                                "demo-props"
                                                ["render-demo" "|Inline Styles"]
                                                ["render-snippet" "snippets.inlineStyles" "options"]]
                                               ["div"
                                                "demo-props"
                                                ["render-demo" "|Event Handling"]
                                                ["render-snippet" "snippets.controller" "options"]]
                                               ["div"
                                                "demo-props"
                                                ["render-demo" "|Hot Swapping"]
                                                ["render-snippet" "snippets.hotSwapping" "options"]]
                                               ["div"
                                                "demo-props"
                                                ["render-demo" "|Store Management"]
                                                ["render-snippet" "snippets.model" "options"]]
                                               ["div"
                                                "demo-props"
                                                ["render-demo" "|State Management"]
                                                ["render-snippet" "snippets.states" "options"]]]
                                              ["div"
                                               ["{}" [":style" "style-footer"]]
                                               ["img"
                                                ["{}"
                                                 [":attrs"
                                                  ["{}" [":src" "|https://img.shields.io/clojars/v/respo.svg"]]]]]]]]]]]},
                      :procs []},
         "render" {:ns ["ns"
                        "app.render"
                        [":require"
                         ["[]"
                          "respo.alias"
                          ":refer"
                          ["[]" "html" "head" "title" "script" "style" "meta'" "div" "link" "body"]]
                         ["[]" "respo.render.html" ":refer" ["[]" "make-html" "make-string"]]
                         ["[]" "app.comp.container" ":refer" ["[]" "comp-container"]]
                         ["[]" "|fs" ":refer" ["[]" "readFileSync" "writeFileSync"]]]],
                   :defs {"main!" ["defn"
                                   "main!"
                                   []
                                   ["spit"
                                    "|dist/index.html"
                                    ["if" ["=" "js/process.env.env" "|dev"] ["generate-empty-html"] ["generate-html"]]]],
                          "spit" ["defn"
                                  "spit"
                                  ["file-name" "content"]
                                  ["writeFileSync" "file-name" "content"]
                                  ["println" "|Wrote to:" "file-name"]],
                          "generate-empty-html" ["defn"
                                                 "generate-empty-html"
                                                 []
                                                 ["html-dsl"
                                                  ["{}" [":build?" "false"]]
                                                  ["{}" [":main" "|/main.js"]]
                                                  "|"]],
                          "generate-html" ["defn"
                                           "generate-html"
                                           []
                                           ["let"
                                            [["tree" ["comp-container" ["{}"] ["#{}" ":shell"]]]
                                             ["html-content" ["make-string" "tree"]]
                                             ["resources"
                                              ["let"
                                               [["manifest" ["js/JSON.parse" ["slurp" "|dist/manifest.json"]]]]
                                               ["{}"
                                                [":css" ["aget" "manifest" "|main.css"]]
                                                [":main" ["aget" "manifest" "|main.js"]]
                                                [":vendor" ["aget" "manifest" "|vendor.js"]]]]]]
                                            ["html-dsl" ["{}" [":build?" "false"]] "resources" "html-content"]]],
                          "slurp" ["defn" "slurp" ["x"] ["readFileSync" "x" "|utf8"]],
                          "html-dsl" ["defn"
                                      "html-dsl"
                                      ["config" "resources" "html-content"]
                                      ["make-html"
                                       ["html"
                                        ["{}"]
                                        ["head"
                                         ["{}"]
                                         ["title" ["{}" [":innerHTML" "|Stack Workflow"]]]
                                         ["link" ["{}" [":rel" "|icon"] [":type" "|image/png"] [":href" "icon-url"]]]
                                         ["link" ["{}" [":rel" "|manifest"] [":href" "|manifest.json"]]]
                                         ["meta'" ["{}" [":charset" "|utf8"]]]
                                         ["meta'"
                                          ["{}"
                                           [":name" "|viewport"]
                                           [":content" "|width=device-width, initial-scale=1"]]]
                                         ["meta'"
                                          ["{}"
                                           [":id" "|config"]
                                           [":type" "|text/edn"]
                                           [":content" ["pr-str" "config"]]]]
                                         ["if"
                                          ["contains?" "resources" ":css"]
                                          ["link"
                                           ["{}"
                                            [":rel" "|stylesheet"]
                                            [":type" "|text/css"]
                                            [":href" [":css" "resources"]]]]]]
                                        ["body"
                                         ["{}"]
                                         ["div" ["{}" [":id" "|app"] [":innerHTML" "html-content"]]]
                                         ["if" [":build?" "config"] ["script" ["{}" [":src" [":vendor" "resources"]]]]]
                                         ["script" ["{}" [":src" [":main" "resources"]]]]]]]],
                          "icon-url" ["def" "icon-url" "|http://logo.mvc-works.org/mvc.png"]},
                   :procs [["main!"]]},
         "comp.header" {:ns ["ns"
                             "app.comp.header"
                             [":require"
                              ["[]" "hsl.core" ":refer" ["[]" "hsl"]]
                              ["[]" "respo-ui.style" ":as" "ui"]
                              ["[]" "respo-ui.style.colors" ":as" "colors"]
                              ["[]" "respo.alias" ":refer" ["[]" "create-comp" "div" "span" "a"]]
                              ["[]" "respo.comp.space" ":refer" ["[]" "comp-space"]]
                              ["[]" "respo.comp.text" ":refer" ["[]" "comp-text"]]
                              ["[]" "respo.comp.debug" ":refer" ["[]" "comp-debug"]]]],
                        :defs {"comp-header" ["def"
                                              "comp-header"
                                              ["create-comp"
                                               ":header"
                                               ["fn"
                                                []
                                                ["fn"
                                                 ["state" "mutate!"]
                                                 ["div"
                                                  ["{}" [":style" "style-header"]]
                                                  ["div"
                                                   ["{}"]
                                                   ["render-link" "|Respo" "|/"]
                                                   ["render-link" "|Guide" "|https://github.com/Respo/respo/wiki"]
                                                   ["render-link"
                                                    "|API Docs"
                                                    "|https://github.com/Respo/respo/wiki/API"]
                                                   ["render-link"
                                                    "|Community"
                                                    "|https://github.com/Respo/respo/wiki/Community"]]
                                                  ["div"
                                                   ["{}"]
                                                   ["a"
                                                    ["{}"
                                                     [":attrs"
                                                      ["{}"
                                                       [":href" "|https://github.com/Respo"]
                                                       [":inner-text" "|GitHub"]
                                                       [":target" "|_blanck"]]]
                                                     [":style" "style-github"]]]]]]]]],
                               "style-header" ["def"
                                               "style-header"
                                               ["merge"
                                                "ui/row"
                                                ["{}"
                                                 [":justify-content" ":space-between"]
                                                 [":align-items" ":center"]
                                                 [":padding" "|0 32px"]
                                                 [":border-bottom" ["str" "|1px solid " ["hsl" "0" "0" "94"]]]
                                                 [":line-height" "|40px"]
                                                 [":font-family" "|Josefin Sans"]]]],
                               "render-link" ["defn"
                                              "render-link"
                                              ["text" "path"]
                                              ["div"
                                               ["{}"
                                                [":style" "style-section"]
                                                [":event"
                                                 ["{}"
                                                  [":click"
                                                   ["fn"
                                                    ["e" "dispatch!"]
                                                    ["let"
                                                     [["event" [":original-event" "e"]]]
                                                     [".preventDefault" "event"]]
                                                    ["dispatch!" ":router/set" "path"]]]]]]
                                               ["a"
                                                ["{}"
                                                 [":attrs" ["{}" [":inner-text" "text"] [":href" ["str" "path"]]]]
                                                 [":style" "style-link"]]]]],
                               "style-link" ["def"
                                             "style-link"
                                             ["{}"
                                              [":cursor" ":pointer"]
                                              [":text-decoration" ":none"]
                                              [":font-size" "16"]]],
                               "style-github" ["def" "style-github" ["{}" [":text-decoration" ":none"]]],
                               "style-section" ["def"
                                                "style-section"
                                                ["{}" [":display" ":inline-block"] [":margin-right" "64"]]]},
                        :procs []}}}
