
{:source-paths ["src"]
 :dependencies [[mvc-works/hsl          "0.1.2"]
                [mvc-works/shell-page   "0.1.6"]
                [respo                  "0.8.12"]
                [respo/ui               "0.3.1"]
                [respo/markdown         "0.1.8"]]
 :builds {:app {:output-dir "target/"
                :target :npm-module}}}
