
body {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.md-block {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.md-block h2 {
  font-size: 20px;
}


.md-block h3 {
  font-size: 18px;
}

.md-block p > code {
  padding: 0 8px;
  margin: 0 4px;
  font-size: 12px;
  background-color: hsl(0,0%,94%);
  white-space: nowrap;
  display: inline-block;
  line-height: 1.8;
}

.md-block a code {
  pointer-events: none;
}

.md-code-block {
  vertical-align: top;
  margin: 0;
  padding: 8px;
  margin: 8px 0;
  line-height: 1.6;
  background-color: hsl(0,0%,100%);
  border: 1px solid hsl(0,0%,90%);
  border-radius: 4px;
  display: block;
  font-size: 12px;
}

.md-block blockquote {
  background-color: hsl(0deg 0% 95%);
  padding: 0 9px;
  border-radius: 8px;
}
