
@import url(~highlight.js/styles/github-gist.css);

body {
}

.md-article {}

.md-paragraph {
  margin: 16px 0;
}

.md-code-block {
  color: white;
  background-color: hsl(300, 80%, 20%);
  padding: 8px;
  display: block;
}

.markdown-docs {
  flex: 1;
  padding: 8px;
}

.markdown-docs h2 {
  font-size: 20px;
}


.markdown-docs h3 {
  font-size: 16px;
}

.markdown-docs p > code {
  padding: 0 8px;
  margin: 0 4px;
  font-size: 12px;
  background-color: hsl(0,0%,94%);
  white-space: nowrap;
  display: inline-block;
  line-height: 1.8;
}

.markdown-docs a code {
  pointer-events: none;
}

.markdown-docs pre {
  margin: 0;
  padding: 8px;
  line-height: 1.6;
  background-color: hsl(0,0%,100%);
  box-shadow: 0 0 2px hsla(0,0%,0%,0.3);
  display: block;
}

.markdown-docs table {
  background-color: hsl(0,0%,96%);
  padding: 8px;
}
