
@import url(github-gist.css);

body {
}

.md-article {
  flex: 1;
  padding: 8px;
  font-size: 14px;
}

.md-article h2 {
  font-size: 20px;
}


.md-article h3 {
  font-size: 16px;
}

.md-article p > code {
  padding: 0 8px;
  margin: 0 4px;
  font-size: 12px;
  background-color: hsl(0,0%,94%);
  white-space: nowrap;
  display: inline-block;
  line-height: 1.8;
}

.md-article a code {
  pointer-events: none;
}

.code-snippet,
.md-article pre {
  vertical-align: top;
  margin: 0;
  padding: 8px;
  margin: 16px 0;
  line-height: 1.6;
  background-color: hsl(0,0%,100%);
  box-shadow: 0 0 2px hsla(0,0%,0%,0.3);
  display: block;
  font-size: 12px;
}
