
@import url(~highlight.js/styles/github-gist.css);

body {
}

.markdown-docs {
  flex: 1;
  padding: 8px;
}

.markdown-docs h2 {
  font-size: 20px;
}


.markdown-docs h3 {
  font-size: 16px;
}

.markdown-docs p > code {
  padding: 0 4px;
  margin: 0 4px;
  background-color: hsl(0,0%,94%);
}

.markdown-docs a code {
  pointer-events: none;
}

.markdown-docs pre {
  margin: 0;
  padding: 8px;
  line-height: 1.6;
  background-color: hsl(0,0%,96%);
  display: block;
}

.markdown-docs table {
  background-color: hsl(0,0%,96%);
  padding: 8px;
}
